:root {
    --braco-padrao: #FFFFFF;
    --cor-do-texto: #667085;
    --vermelho-padrao: #8E2424;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
  }
  
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
}
.img_logo{
    cursor: pointer;
    width: 148px;
    height: 27px;
}
.links{
  margin-right: 15em;
}
.links a{
    text-decoration: none;
    color: var(--cor-do-texto);
    padding: 1em;
    font-size: 16px;
    font-weight: 500;
}
.button_entrar{
    cursor: pointer;
    width: 83px;
    height: 44px;
    font-weight: 500;
    font-size:16px;
    border: none;
    background-color: transparent;
}
.button_cadastrar{  
    cursor: pointer;
    width: 112px;
    height: 44px;
    border: 1px;
    border-color: var(--cor-button);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: var(--braco-padrao);
    background-color: var(--vermelho-padrao);
}

/* CSS cabeçalho */

.cabeçalho{
  display: block;
  text-align: center;
  margin-top: 4em;
}
.titulo_cabeçalho{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1em;
  color: var(--vermelho-padrao);
}
.titulo2_cabeçalho{
  font-size: 48px;
  font-weight: 600;
  padding: 1em;
}
.texto_padrao_header{
  margin: 0 18em;
  font-weight: 400;
  font-size: 20px;
  color: var(--cor-do-texto);
  text-align: center;
}

/* CSS metricas*/
